{% load i18n static django_htmx %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{% block title %}{% endblock %} - {% translate 'Bio links' %}</title>
  <link rel="stylesheet" href="{% static 'biolink/css/biolink.css' %}" />
</head>
<body hx-headers='{"x-requested-with": "XMLHttpRequest"}'>

  <div id="container">
    <div id="main">
      {% block content %}{% endblock %}
    </div>
  </div>
  
  {% htmx_script %}
</body>
</html>
