{% load static wagtailcore_tags %}
<nav id="topbar">
  <a href="/">
    Início
  </a>
  <a href="{% slugurl 'categories' %}">
    Categorias
  </a>

  <form action="{% slugurl 'search' %}" method="get">
    <div class="search">
      <input
        type="text"
        placeholder="Pesquisar"
        aria-label="Pesquisar"
        name="query"
        value="{{search_query}}"
      />
      <button type="submit">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-search-icon lucide-search"><path d="m21 21-4.34-4.34"/><circle cx="11" cy="11" r="8"/></svg>
        <span class="sr-only">Pesquisar</span>
      </button>
    </div>
  </form>
</nav>