{% load wagtailcore_tags wagtailimages_tags %}
<a href="{% pageurl post %}" class="blog-thumb-post">
  {% with post.main_image as main_image %}
    {% if main_image %}
      {% image main_image fill-320x200 %}
    {% else %}
      TODO: generic image here
    {% endif %}
  {% endwith %}

  <h2>
    {{ post.title }}
  </h2>

  <p>{{ post.specific.intro }}</p>
  
  <footer class="blog-thumb-post-footer">
    {% with tags=post.tags.all %}
      {% if tags %}
        {% for tag in tags %}
          <span>
            {{ tag }} | 
          </span>
        {% endfor %}
      {% endif %}
    {% endwith %}
    <span class="date">{{ post.date|date:"d/m/Y" }}</span>
  </footer>
</a>